.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  padding: 1rem;
  position: relative;
  background-color: #87ab69;
  min-height: 50vh;
  height: fit-content;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  gap: 1rem;
}

.loginDiv h2 {
  font-size: 3rem;
}

form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.loginInputs {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: larger;
}

.submitButton {
  width: 40%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: larger;
  cursor: pointer;
}

h3 a {
  color: #f6eee3;
  cursor: pointer;
}

.wrongInputs {
  color: red;
  font-size: large;
}

@media (max-width: 992px) {
  .loginDiv {
    width: 80vw;
    height: 60vh;
  }
}
