<div class="homeContainer">
  <div class="userContainer">
    <h2>Device 1</h2>
    <div class="responseDataDiv">
      <h3 class="responses">
        Heart Rate:
        <span class="responsesSpan">{{ userReadings().hrate }}</span>
      </h3>
      <h3 class="responses">
        ECG: <span class="responsesSpan">{{ userReadings().ecg }}</span>
      </h3>
      <h3 class="responses">
        Temperature:
        <span class="responsesSpan">{{ userReadings().temp }}</span>
      </h3>
    </div>
  </div>
</div>
