<div class="homeContainer">
  <div class="userContainer">
    <h2>Device 1</h2>
    <div class="responseDataDiv">
      <h3 class="responses">
        Heart Rate:
        <span class="responsesSpan">{{ userReadings().hrate }}</span>
      </h3>
      <h3 class="responses">
        ECG: <span class="responsesSpan">{{ userReadings().ecg }}</span>
      </h3>
      <h3 class="responses">
        SPO2: <span class="responsesSpan">{{ userReadings().SPO2 }}</span>
      </h3>
      @if (+userReadings().temp <0) {

      <h3 class="responses">
        Temperature:
        <span class="responsesSpan">No Readings</span>
      </h3>

      }@else {
      <h3 class="responses">
        Temperature:
        <span class="responsesSpan">{{ userReadings().temp }}</span>
      </h3>
      }
    </div>
  </div>
</div>
